<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="./imagens/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro</title>
</head>
<body class="bg-light">
    <div id="container" class="container w-auto pt-5">
        <form method="post" enctype="multipart/form-data" th:object="${cadastro}" th:action"@{/pharmexpress/usuario/cadastro}">
            <div id="box" class="row border rounded p-5 m-5 d-flex align-items-center bg-white">
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite o nome" class="form-control" th:field="*{nome}" required>
                    
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Sobrenome:</label>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite o sobrenome" class="form-control" th:field="*{sobrenome}" required>

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Telefone:</label>
                    <input type="text" name="telefone" id="telefone" placeholder="Digite o telefone" class="form-control" th:field="*{telefone}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Data de Nascimento:</label>
                    <input type="date" name="data" id="data" class="form-control" th:field="*{dataNasc}" required>

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">E-mail:</label>
                    <input type="email" name="email" id="email" placeholder="Digite o email" class="form-control" th:field="*{email}" required>

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF" class="form-control" th:field="*{cpf}" required>

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite a senha" class="form-control" th:field="*{senha}" required onchange="confereSenha();">
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-label">Confirme sua Senha:</label>
                    <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confime a senha" class="form-control"  required onchange="confereSenha();">
                </div>
                <div class="form-group pt-5 d-flex justify-content-center">
                    <input class="btn btn-primary " type="Submit" value="Cadastrar">
                </div>
                <div class="d-flex justify-content-center pt-3">
                    <h6><a th:href="@{/pharmexpress/usuario/login}" style="color: #000;cursor: pointer;">Já tenho cadastrado!</a></h6>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script>
    function confereSenha(){
        const senha = document.querySelector('input[name=senha]');
        const confirmar = document.querySelector('input[name=confirmarSenha]');

        if(confirmar.value == senha.value){
            confirmar.setCustomValidity('');
        }
        else{
            confirmar.setCustomValidity('As senhas não são parecidas')
        }
    }
    $('#cpf').mask('000.000.000-00', {reverse: true});
    $('#telefone').mask('(00)0 0000-0000');
</script>